<th:block xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <form action="/courses/add" method="POST">
          <input id="id" type="hidden" name="id" th:value="(${course} != null ? ${course.getId()} : '')">
          <div class="form-group">
            <label for="semester">Semester</label>
            <input type="text"
                   class="form-control"
                   id="semester"
                   name="semester"
                   th:value="(${course} != null ? ${course.getSemester()} : '')"
                   placeholder="Semester">
          </div>
          <div class="form-group">
          <label for="title">Course title</label>
          <input type="text"
                 class="form-control"
                 id="title"
                 name="title"
                 th:value="(${course} != null ? ${course.getTitle()} : '')"
                 required
                 placeholder="Enter course title">
          </div>
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>


</th:block>
