<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;

    }
    .courses-grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .grid-item-wrapper {
        width: 33%;
        height: 300px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .grid-item {
        width: 70%;
        border: 5px solid gray;
        border-radius: 5px;
    }
    button{
        background-color: #4CAF50;
        font-size: 16px;
        border-radius: 4px;
        width: 150px;
        height: 50px;
    }
</style>
<body>
<div>
    <h1>Courses</h1>
</div>
<button>
<a href="/courses/add-form" class="btn btn-block btn-dark add-course-btn">
    Add new course
</a>
</button>
<div class="courses-grid">
    <div th:each="course : ${courses}" class="grid-item-wrapper"> <!--  iterate courses here  -->
        <div class="grid-item">
            <h1 th:text="${course.getTitle()}"></h1> 
            <img style="width: 420px; height: 220px; margin-left: 10px" th:src="@{images/courses.png}"><!-- Display course info here   -->
        </div>
    </div>
</div>
</div>
</body>
