<style>
    .courses-grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .grid-item-wrapper {
        width: 33%;
        height: 300px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .grid-item {
        width: 70%;
        border: 5px solid gray;
        border-radius: 5px;
    }
</style>
<div>
    <h1>Courses</h1>
</div>
<div class="courses-grid">
    <div class="grid-item-wrapper"> <!--  iterate courses here  -->
        <div class="grid-item">
            <h1>Course</h1> <!-- Display course info here   -->
        </div>
    </div>
    <div class="grid-item-wrapper"> <!--  should be deleted  -->
        <div class="grid-item">
            <h1>Course</h1>
        </div>
    </div>
    <div class="grid-item-wrapper"> <!--  should be deleted  -->
        <div class="grid-item">
            <h1>Course</h1>
        </div>
    </div>
    <div class="grid-item-wrapper"> <!--  should be deleted  -->
        <div class="grid-item">
            <h1>Course</h1>
        </div>
    </div>
</div>
</div>