
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .container {
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .form {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form input[type="text"],
  .form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form button {
    width: 100%;
    padding: 10px;
    background-color: #29317e;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
</style>
<body>
<div class="container">
  <form class="form" action="#">
    <h2>Register</h2>
    <input type="text" placeholder="Name" required>
    <input type="text" placeholder="Surname" required>
    <input type="text" placeholder="Username" required>
    <input type="password" placeholder="Password" required>
    <button type="submit">Register</button>
  </form>
</div>
</body>
